//Подключение шрифта через препроцессор
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:regular,700');
@import url('https://fonts.googleapis.com/css?family=Manrope:regular');
@import url('https://fonts.cdnfonts.com/css/fff-tusj');
// Файл обнуляющих стилей
@import "nullindex.scss";

// Переменные
//$fz:80px;
//$color_1:#14046d;
$color_1:#1BFF07;
$color_2: #3b9ac6;

// Шаблоны, для приминения вводи @extend
//%tplborder {border-bottom: 3px dashed red;}

// Миксин, для применения вводи @include
//@mixin fontz($f, $c){
//   font-size: $f;
//   color: $c;
//}
//------------------------------------------
html {

}
body {
   font-family: 'IBM Plex Mono';
   color: #FFFFFF;
   .wrapper {
      margin: 0 auto;
      width: 100%;
   }
   .container {
      margin: 0 auto;
      padding: 0 20px;
      max-width: 1155px;
   }
}

.header {
   padding: 27px 0 94px 0;
   width: 100%;
   height: 100vh;
   background: url('../../Img/background/01.png') center / cover no-repeat;
   .header__inner {
      width: 100%;
      height: 100%;
      .wrap {
         margin: 0 auto 252px auto;
         display: flex;
         flex-wrap: wrap;
         align-items: center;
         max-width: 1153px;

         justify-content: space-between;
         // background: rgba(0, 0, 0, 0.5);
         // border-radius: 100px;
         // height: 49px;
         // backdrop-filter: blur(10px);
         // padding: 0 30px 0 0;
         // border: 2px solid white;
         .header__logo {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 230px;
            height: 39px;
            background: #000000;
            border-radius: 100px;
            p{
               margin: 0 7px 2px 0;
               font-size: 42px;
               font-weight: 700;
               line-height: 55px;
               letter-spacing: -0.11em;
               text-transform: uppercase;
               color: $color_2;
               text-shadow: 0 0 2px rgb(0, 0, 0), 0 0 1em rgba(255, 255, 255, .7);
            }
         }
         .header__menu {
            display: flex;
            flex-wrap: wrap;
            font-size: 18px;
            line-height: 23px;
            letter-spacing: -0.03em;
            a{
               margin: 0 50px 0 0;
               color: #FFFFFF;
               &:last-child {
                  margin: 0;
               }
               &:hover {
                  color: $color_2;
               }
            }
         }
      }
      .header__text {
         margin: 0 0 29px 0;
         max-width: 430px;
         
         font-size: 20px;
         line-height: 26px;
         letter-spacing: -0.03em;
      }
      .header__maintext {
         max-width: 919px;
         
         font-size: 80px;
         line-height: 70px;
         letter-spacing: -0.03em;
         color: $color_2;
      }
   }
}






