//Подключение шрифта через препроцессор
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:regular,700');
@import url('https://fonts.googleapis.com/css?family=Manrope:regular');
@import url('https://fonts.cdnfonts.com/css/fff-tusj');
// Файл обнуляющих стилей
@import "nullindex.scss";

// Переменные
//$fz:80px;
//$color_1:#14046d;
$color_1:#1BFF07;
$color_2: #3b9ac6;

// Шаблоны, для приминения вводи @extend
//%tplborder {border-bottom: 3px dashed red;}

// Миксин, для применения вводи @include
//@mixin fontz($f, $c){
//   font-size: $f;
//   color: $c;
//}
//------------------------------------------
html {
   scroll-behavior: smooth;
}
body {
   font-family: 'IBM Plex Mono';
   background: #000000;
   color: #FFFFFF;
   .wrapper {
      margin: 0 auto;
      width: 100%;
   }
   .container {
      margin: 0 auto;
      padding: 0 20px;
      max-width: 1190px;
   }
}
.title {
   font-size: 55px;
   line-height: 72px;
   letter-spacing: -0.03em;
}
.subtitle {
   font-size: 35px;
   line-height: 46px;
   letter-spacing: -0.03em;
}
.header {
   padding: 27px 0 94px 0;
   width: 100%;
   height: 100vh;
   background: radial-gradient(circle, rgba(2,0,36,0) 0%, rgba(0,0,0,.9) 100%), url('../../Img/background/001.JPG') center top / auto auto no-repeat fixed;
   .header__inner {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      .menu__wrap {
         flex: 1 1 100%;
         position: sticky;
         top: 27px;
         margin: 0 auto 252px auto;
         display: flex;
         flex-wrap: wrap;
         width: 100%;
         max-width: 1153px;
         height: 55px;
         justify-content: space-between;
         // background: rgba(0, 0, 0, 0.5);
         // border-radius: 100px;
         // height: 49px;
         // backdrop-filter: blur(10px);
         // padding: 0 30px 0 0;
         // border: 2px solid white;
         .header__logo {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 230px;
            height: 39px;
            background: #000000;
            border-radius: 100px;
            p{
               margin: 0 7px 2px 0;
               font-size: 42px;
               font-weight: 700;
               line-height: 55px;
               letter-spacing: -0.11em;
               text-transform: uppercase;
               color: $color_2;
               text-shadow: 0 0 2px rgb(0, 0, 0), 0 0 1em rgba(255, 255, 255, .7);
            }
         }
         .header__menu {
            display: flex;
            height: 33px;
            flex-wrap: wrap;
            font-size: 18px;
            line-height: 33px;
            letter-spacing: -0.03em;
            a{
               margin: 0 50px 0 0;
               color: #FFFFFF;
               &:last-child {
                  margin: 0;
               }
               &:hover {
                  color: $color_2;
               }
            }
         }
      }
      .header__text {
         margin: 0 0 29px 0;
         max-width: 430px;
         
         font-size: 20px;
         line-height: 26px;
         letter-spacing: -0.03em;
      }
      .header__maintext {
         max-width: 919px;
         
         font-size: 80px;
         line-height: 70px;
         letter-spacing: -0.03em;
         color: $color_2;
      }
   }
}
.portfolio {
   margin: 0 auto;
   padding: 150px 0 0 0;
   .portfolio__title {
      margin: 0 0 40px 0;
      color: #FFFFFF;
   }
   .porfolio__item {
      padding: 410px 0 0 50px;
      max-width: 1150px;
      height: 550px;
      border-radius: 30px;
      &.metrika {
         background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url('../../Img/content/metrika.png');
      }
      &.shop {
         background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url('../../Img/content/shop.png');
      }
      &.nothingear {
         background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url('../../Img/content/nothing\ ear.png');
      }
      .item__subtitle {
         color: #FFFFFF;
      }
      .item__description {
         font-size: 30px;
         line-height: 39px;
         letter-spacing: -0.03em;
      }
   }
   .portfolio__btn {
      display: flex;
      margin: 80px 0 150px 0;
      max-width: 582px;
      height: 153px;
      justify-content: center;
      align-items: center;
      background: $color_2;
      border-radius: 10px;
      font-size: 30px;
      line-height: 39px;
      text-align: center;
      letter-spacing: -0.03em;
      color: #000000;
      transition: background .5s ease, color .5s ease;
      &:hover {
         background: transparent;
         border: 2px solid $color_2;
         color: $color_2;
      }
   }
}
.competencies {
   
   .competencies__title {
      margin: 0 0 48px 0;
      max-width: 1048px;
      min-height: 72px;
   }
   div:nth-child(2)::before {
      margin: 0 0 16px 0;
      display: block;
      content: '';
      width: 45px;
      height: 44px;
      border-radius: 10px;
      background: url('../../Img/icons/01html.svg') 50% 50% / auto auto no-repeat, $color_2, ;
   }
   div:nth-child(3)::before {
      margin: 0 0 16px 0;
      display: block;
      content: '';
      width: 45px;
      height: 44px;
      border-radius: 10px;
      background: url('../../Img/icons/02js.svg') 50% 50% / auto auto no-repeat, $color_2, ;
   }
   div:nth-child(4)::before {
      margin: 0 0 16px 0;
      display: block;
      content: '';
      width: 45px;
      height: 44px;
      border-radius: 10px;
      background: url('../../Img/icons/03framework.svg') 50% 50% / auto auto no-repeat, $color_2, ;
   }
   div:nth-child(5) {
      margin: 0 0 150px 0;
      &::before {
      margin: 0 0 16px 0;
      display: block;
      content: '';
      width: 45px;
      height: 44px;
      border-radius: 10px;
      background: url('../../Img/icons/04mobile.svg') 50% 50% / auto auto no-repeat, $color_2, ;
      }
   }
   .competencies__box {
      margin: 0 0 60px 0;
      
      .box__subtitle {
         margin: 0 0 15px 0;
         max-width: 1048px;
         color: $color_2;
      }
      .box__description {
         max-width: 778px;
         font-size: 22px;
         line-height: 29px;
         letter-spacing: -0.03em;
      }
   }
}
.services {
   margin: 0 auto 150px auto;
   div:last-child {
      margin: 0 auto;
   }
   .services__title {
      margin: 0 0 74px 0;
      max-width: 403px;
   }
   .services__box {
      margin: 0 0 74px 0;
      .box__image {
         max-width: 1150px;
         img {
            width: 100%;
         }
      }
      .box__body {
         padding: 40px;
         max-width: 1150px;
         min-height: 283px;
         background: #191C19;
         border-radius: 30px;
      }
      .box__title {
         margin: 0 0 15px 0;
         max-width: 1048px;
         color: $color_2;
      }
      .box__description {
         max-width: 749px;
         font-size: 22px;
         line-height: 29px;
         letter-spacing: -0.03em;
      }
   }
}
.contacts {
   margin: 0 0 150px 0;
   padding: 320px 0 0 0;
   max-width: 100%;
   min-height: 717px;
   background: url('../../Img/background/contacts.svg') center right / auto auto no-repeat, #191C19;
   border-radius: 0 30px 30px 0;
   .contacts__info {
      .info__text {
         max-width: 201px;
         font-size: 35px;
         line-height: 60px;
         letter-spacing: -0.03em;
      }
      .info__socials {
         margin: 0 0 20px 0;
         display: flex;
         flex-direction: column;
         max-width: 310px;
         font-size: 60px;
         line-height: 60px;
         letter-spacing: -0.03em;
         color: #FFFFFF;
         &:hover {
            color: $color_2;
         }
      }
      a:nth-child(3) {
         max-width: 276px;
      }
      a:nth-child(4) {
         max-width: 139px;
      }
      a:last-child {
         margin: 0;
      }
   }
   
}
.copy {
   padding: 76px 0 0 0;
   min-height: 230px;
   font-family: 'Manrope';
   background: #FFFFFF;
   border-radius: 30px 30px 0 0;
   .copy__text {
      margin: 0 0 66px 0;
      font-size: 22px;
      line-height: 30px;
      letter-spacing: -0.03em;
      color: #000000;
   }
   .copy__copyrights {
      font-size: 20px;
      line-height: 27px;
      letter-spacing: -0.03em;
      color: #000000;
      opacity: 0.5;
   }
}









