@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Inter:regular,700);
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
} /*Крестик в поле input браузера IE отключен*/
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
} /*Отступы кнопок браузера Firefox 0*/
a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter";
  background-color: #000;
  color: #fff;
}
body .wrapper {
  margin: 0 auto;
  width: 100%;
}
body .container {
  margin: 0 auto;
  max-width: 1400px;
}
body .title p {
  font-weight: 700;
  font-size: 100px;
  line-height: 73.52%;
  text-align: center;
  letter-spacing: -0.06em;
}

.header {
  margin: 44px auto 0 auto;
  padding: 44px 0 0 0;
  text-align: center;
}
.header .header__menu {
  margin: 0 auto 60px auto;
  display: inline-flex;
  width: 603px;
  height: 30px;
  justify-content: center;
  align-items: center;
}
.header .header__menu a {
  margin: 0 43px 0 0;
  height: 30px;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}
.header .header__menu a:last-child {
  margin: 0;
}
.header .header__title {
  margin: 0 auto 20px auto;
  width: 919px;
  height: 156px;
}
.header .header__title h1 {
  font-weight: 700;
  font-size: 150px;
  line-height: 133px;
  text-align: center;
  letter-spacing: -0.07em;
  color: #FF25C2;
}
.header .header__text {
  margin: 0 auto -33px auto;
  width: 430px;
  height: 103px;
  position: relative;
}
.header .header__text p {
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.03em;
  z-index: 1;
}
.header .header__img {
  margin: 0 auto 70px auto;
  max-width: 819px;
  max-height: 840px;
}
.header .header__img img {
  width: 100%;
  height: 100%;
}

.shop .first-item {
  margin: 0 auto 80px auto;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%), url(../../Img/content/02.png) 50%/auto no-repeat;
}
.shop .second-item {
  margin: 0 auto 150px auto;
  background: url(../../Img/content/03.png) 50%/auto no-repeat;
  border: 1px solid #FFFFFF;
}
.shop .shop__item {
  padding: 50px 0 51px 50px;
  max-width: 1150px;
  max-height: 644px;
  border-radius: 30px;
}
.shop .shop__item .item__title {
  margin: 0 0 149px 0;
  width: 375px;
  height: 112px;
  font-weight: 700;
  font-size: 60px;
  line-height: 93.52%;
  letter-spacing: -0.05em;
}
.shop .shop__item .item__image {
  margin: 0 0 30px 0;
  border-radius: 30px;
}
.shop .shop__item .item__btn {
  width: 420px;
  height: 110px;
  border-radius: 100px;
}
.shop .shop__item .item__btn button {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  font-size: 25px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: all 0.5s;
}
.shop .shop__item .item__btn button:hover {
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.5);
  scale: 1.02;
}

.tobye {
  width: 100%;
  height: 786px;
  position: relative;
}
.tobye .tobye__image {
  display: flex;
  justify-content: center;
  max-height: 786px;
  width: 100%;
}
.tobye .tobye__image .image-left {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
}
.tobye .tobye__image .image-left img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.tobye .tobye__image .image-right {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  transform: scale(-1, 1);
}
.tobye .tobye__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.tobye .tobye__title {
  position: absolute;
  width: 560px;
  height: 148px;
  top: 190px;
  left: calc(50% - 280px);
  color: #FF25C2;
}
.tobye .tobye__text {
  position: absolute;
  top: 377px;
  left: calc(50% - 335.5px);
}
.tobye .tobye__text p {
  margin: 0 0 39px 0;
  width: 671px;
  height: 90px;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}
.tobye .tobye__text p:last-child {
  margin: 0;
}

.description {
  margin: 0 auto;
  padding: 150px 0;
}
.description .description__title {
  margin: 0 auto;
  width: 676px;
  height: 222px;
  color: #FF25C2;
}
.description .description__text {
  margin: 0 auto;
  width: 507px;
}
.description .description__text p {
  position: relative;
  margin: 80px auto 0 auto;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.03em;
}
.description .description__text p:nth-child(1)::before {
  margin: 0 auto 20px auto;
  display: block;
  content: "";
  width: 54px;
  height: 54px;
  border-radius: 100px;
  background: url("../../Img/icons/01.svg") 50% 50%/auto auto no-repeat, rgb(255, 37, 193);
}
.description .description__text p:nth-child(2)::before {
  margin: 0 auto 20px auto;
  display: block;
  content: "";
  width: 54px;
  height: 54px;
  border-radius: 100px;
  background: url("../../Img/icons/02.svg") 50% 50%/auto auto no-repeat, rgb(255, 37, 193);
}
.description .description__text p:nth-child(3)::before {
  margin: 0 auto 20px auto;
  display: block;
  content: "";
  width: 54px;
  height: 54px;
  border-radius: 100px;
  background: url("../../Img/icons/03.svg") 50% 50%/auto auto no-repeat, rgb(255, 37, 193);
}

.technologies {
  padding: 130px 0;
  background: url("../../Img/content/05.png") center no-repeat;
}
.technologies .technologies__title {
  margin: 0 auto 40px auto;
  width: 1150px;
  height: 370px;
}
.technologies .technologies__text {
  margin: 0 auto 60px auto;
  width: 942px;
  height: 200px;
}
.technologies .technologies__text p {
  font-weight: 700;
  font-size: 45px;
  line-height: 90%;
  text-align: center;
  letter-spacing: -0.06em;
}
.technologies .technologies__btn {
  margin: 0 auto;
  width: 866px;
  height: 110px;
  border-radius: 100px;
}
.technologies .technologies__btn button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: all 0.5s;
}
.technologies .technologies__btn button:hover {
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.5);
  scale: 1.02;
}

.footer {
  padding: 150px 0 52px 0;
  width: 100%;
}
.footer .footer__title {
  margin: 0 auto 100px auto;
  width: 1150px;
  height: 148px;
}
.footer .footer__image {
  margin: 0 auto 60px auto;
  max-width: 1150px;
  max-height: 450px;
  position: relative;
}
.footer .footer__image img {
  width: 100%;
  height: 100%;
}
.footer .footer__image p {
  width: 475px;
  height: 60px;
  position: absolute;
  top: 317px;
  left: 340px;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.03em;
}
.footer .footer__socials {
  margin: 0 auto 200px auto;
  display: flex;
  justify-content: center;
}
.footer .footer__socials a {
  margin: 0 30px 0 0;
  width: 211px;
  height: 44px;
  font-weight: 700;
  font-size: 60px;
  line-height: 73.52%;
  text-align: center;
  letter-spacing: -0.06em;
  color: #FFFFFF;
}
.footer .footer__socials a:last-child {
  margin: 0;
}
.footer .footer__menu {
  margin: 0 auto 48px auto;
  display: flex;
  justify-content: space-between;
  width: 603px;
  height: 30px;
}
.footer .footer__menu a {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer .footer__logo p {
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  letter-spacing: -0.03em;
  text-align: center;
}
.footer .footer__logo p a {
  text-decoration: none;
  color: #FF25C2;
}/*# sourceMappingURL=index.css.map */