@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Manrope:regular);
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
} /*Крестик в поле input браузера IE отключен*/
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
} /*Отступы кнопок браузера Firefox 0*/
a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------------*/
html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Manrope;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.03em;
}

.container {
  width: 1150px;
  margin: 0 auto;
}

.header {
  padding: 0 15px;
  max-width: 100vw;
  margin: 0 auto;
  height: 60px;
  background-color: #fff;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32.82px auto 0 auto;
  width: 1151.35px;
  height: 25.18px;
}

.header__logo {
  width: 126.89px;
  height: 21.42px;
}

.header__menu {
  text-transform: uppercase;
  color: #121212;
}

.header__menu a {
  margin: 0 60px 0 0;
  color: #121212;
}
.header__menu a:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}
.header__menu a:last-child {
  margin-right: 0;
}

.footer__contact {
  padding: 0 15px;
  margin: 15px 0 0 0;
  text-transform: uppercase;
  color: #121212;
}
.footer__contact img {
  width: 13px;
  height: 22px;
}
.footer__contact p {
  margin: 13px 0 0 0;
}

.connection {
  display: block;
  position: relative;
  margin: 32px 0 0 0;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.03em;
}
.connection a {
  color: #121212;
  margin: 30px 0 0 0;
}
.connection p {
  display: block;
}
.connection p:last-child {
  display: inline-block;
  position: relative;
  text-transform: lowercase;
  opacity: 0.5;
}
.connection p:last-child ::after {
  content: "";
  position: absolute;
  width: 406px;
  bottom: -10px;
  height: 2px;
  left: 0;
  background-color: #121212;
  margin: 0px 0px 0px 0;
}

.footer__footer {
  background-color: #000;
}

.footermenu {
  margin: 80px 0 0 0;
  padding: 40px 0 0 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.footermenu :nth-child(2) {
  margin: 0 56px 0 0;
}
.footermenu :nth-child(3) {
  margin: 0 55px 0 0;
}
.footermenu a {
  color: #fff;
}
.footermenu a:first-child {
  margin: 0 53px 0 0;
  opacity: 0.5;
}

.main {
  flex: 1 1 100%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1150px;
  min-height: 350px;
  align-items: center;
}

.containerleft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 200px;
  width: 100%;
  height: 100%;
}

.title {
  margin: 0 0 25px 0;
  font-size: 34px;
}

.text {
  font-size: 16px;
}

.containerright {
  display: flex;
  padding: 0 200px 0 0;
  justify-content: center;
}

.picture img {
  max-width: 150px;
}

.footercopyrights {
  margin: 87px 0 0 0;
  padding: 0 0 30px 0;
  text-align: center;
  font-size: 20px;
  line-height: 27px;
  color: #fff;
}
.footercopyrights p {
  opacity: 0.5;
}