@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Exo+2:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url("https://fonts.googleapis.com/css?family=Manrope:regular");
@import url("https://fonts.cdnfonts.com/css/fff-tusj");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
} /*Крестик в поле input браузера IE отключен*/
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
} /*Отступы кнопок браузера Firefox 0*/
a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Exo 2";
  font-weight: 200;
  background: #000000;
  color: #FFFFFF;
}
body .wrapper {
  margin: 0 auto;
  max-width: 100%;
  background-color: #000000;
}
body .container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1190px;
}
body.body-lock {
  overflow: hidden;
}

.title {
  font-size: 55px;
  line-height: 72px;
  letter-spacing: -0.03em;
}
@media (max-width: 1199px) {
  .title {
    font-size: 45px;
    line-height: 50px;
  }
}
@media (max-width: 767px) {
  .title {
    font-size: 30px;
    line-height: 30px;
  }
}

.subtitle {
  font-size: 35px;
  line-height: 46px;
  letter-spacing: -0.03em;
}
@media (max-width: 767px) {
  .subtitle {
    font-size: 24px;
    line-height: 30px;
  }
}
@media (max-width: 450px) {
  .subtitle {
    font-size: 20px;
    line-height: 25px;
  }
}

.header {
  padding: 2vh 0 0 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}
.header .menu__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  height: 50px;
  backdrop-filter: blur(4px);
  padding: 0 30px 0 0;
  border: 2px solid rgba(255, 255, 255, 0.1);
}
.header .menu__wrap .header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 39px;
  border-radius: 100px;
}
@media (max-width: 767px) {
  .header .menu__wrap .header__logo {
    justify-content: flex-start;
  }
}
.header .menu__wrap .header__logo p {
  margin: 0 7px 2px 0;
  padding: 0 0 0 15px;
  font-size: 42px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: -0.11em;
  text-transform: uppercase;
  color: #3b9ac6;
  text-shadow: 0 0 2px rgb(0, 0, 0), 0 0 1em rgba(104, 104, 104, 0.7);
}
@media (max-width: 767px) {
  .header .menu__wrap .header__logo p {
    font-size: 25px;
  }
}
.header .menu__wrap .header__menu {
  display: flex;
  height: 33px;
  flex-wrap: wrap;
  font-size: 18px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: -0.03em;
}
.header .menu__wrap .header__menu a {
  margin: 0 50px 0 0;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .header .menu__wrap .header__menu a {
    width: 100%;
  }
}
.header .menu__wrap .header__menu a:last-child {
  margin: 0;
}
.header .menu__wrap .header__menu a:hover {
  color: #3b9ac6;
}
@media (max-width: 802px) {
  .header .menu__wrap .header__menu {
    display: none;
  }
}
.header .burger__icon {
  width: 40px;
  height: 25px;
  display: none;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  cursor: pointer;
}
.header .burger__icon::after, .header .burger__icon::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #3b9ac6;
}
.header .burger__icon::before {
  top: 0;
}
.header .burger__icon::after {
  bottom: 0;
}
.header .burger__icon span {
  width: 50%;
  height: 3px;
  background-color: #3b9ac6;
}
@media (max-width: 802px) {
  .header .burger__icon {
    display: flex;
  }
}
.header .burger {
  display: block;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}
.header .burger.burger-active {
  display: block;
  visibility: visible;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: auto;
  transform: translate(0px, 0px);
  transition: all 0.5s ease;
}
.header .burger.burger-active .burger__body {
  transform: translate(0px, 0px);
  transition: transform 0.5s ease;
}
.header .burger .burger__body {
  padding: 80px 0 0 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 50px 50px;
  transform: translate(0px, -100%);
  transition: transform 0.5s ease;
}
.header .burger .burger__body .burger__menu {
  margin: 0 0 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  line-height: 30px;
}
.header .burger .burger__body .burger__menu a {
  color: #FFFFFF;
}
.header .burger .burger__body .burger__footer {
  margin: 0 0 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  line-height: 30px;
}
.header .burger .burger__body .burger__footer p {
  color: #3b9ac6;
}
.header .burger .burger__body .burger__footer a {
  color: #FFFFFF;
}
.header .burger .burger__body .burger__close {
  position: absolute;
  top: 30px;
  right: 30px;
}

.about {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.about .about__bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: radial-gradient(circle, rgba(2, 0, 36, 0.1) 0%, rgb(0, 0, 0) 100%), url("../../Img/background/001.JPG") no-repeat center top/cover;
}
.about .about__inner {
  padding: 45vh 20px 0;
  display: flex;
  flex-direction: column;
  position: relative;
}
.about .about__inner .about__text {
  margin: 0 0 29px 0;
  max-width: 430px;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.03em;
}
@media (max-width: 1199px) {
  .about .about__inner .about__text {
    font-size: 20px;
    line-height: 26px;
  }
}
.about .about__inner .about__maintext {
  max-width: 65vw;
  font-size: 80px;
  font-weight: 200;
  line-height: 70px;
  letter-spacing: -0.03em;
  color: #3b9ac6;
}
.about .about__inner .about__maintext p {
  font-weight: 400;
}
@media (max-width: 1199px) {
  .about .about__inner .about__maintext {
    font-size: 60px;
    line-height: 50px;
  }
}
@media (max-width: 767px) {
  .about .about__inner .about__maintext {
    font-size: 28px;
    line-height: 30px;
  }
}

.portfolio {
  margin: 100vh auto 0;
  padding: 150px 0 0 0;
}
@media (max-width: 1199px) {
  .portfolio {
    padding: 75px 0 0 0;
  }
}
.portfolio .portfolio__title {
  margin: 0 0 40px 0;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .portfolio .portfolio__title {
    margin: 0 0 30px 0;
  }
}
.portfolio .porfolio__item {
  padding: 410px 0 0 50px;
  max-width: 1150px;
  height: 550px;
  border-radius: 30px;
  display: block;
  transition: 0.5s;
}
.portfolio .porfolio__item:hover {
  box-shadow: inset 0 0 5px 5px #3b9ac6, 0 0 5px 5px #3b9ac6;
}
@media (max-width: 767px) {
  .portfolio .porfolio__item {
    padding: 265px 0 0 27px;
    height: 350px;
  }
}
@media (max-width: 450px) {
  .portfolio .porfolio__item {
    padding: 138px 0 0 14px;
    height: 200px;
  }
}
.portfolio .porfolio__item.hydra {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url("../../Img/content/hydra.png") center left no-repeat;
  background-size: cover;
}
.portfolio .porfolio__item.metrika {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url("../../Img/content/metrika.png") center left no-repeat;
  background-size: cover;
}
.portfolio .porfolio__item.shop {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url("../../Img/content/shop.png") center left no-repeat;
  background-size: cover;
}
.portfolio .porfolio__item.nothingear {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url("../../Img/content/nothing ear.png") center left no-repeat;
  background-size: cover;
}
.portfolio .porfolio__item .item__subtitle {
  color: #FFFFFF;
}
.portfolio .porfolio__item .item__description {
  font-size: 30px;
  line-height: 39px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .portfolio .porfolio__item .item__description {
    font-size: 20px;
    line-height: 25px;
  }
}
@media (max-width: 450px) {
  .portfolio .porfolio__item .item__description {
    font-size: 16px;
    line-height: 18px;
  }
}
.portfolio .portfolio__btn {
  display: flex;
  margin: 80px 0 150px 0;
  max-width: 582px;
  height: 153px;
  justify-content: center;
  align-items: center;
  background: #3b9ac6;
  border-radius: 10px;
  font-size: 30px;
  line-height: 39px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #000000;
  transition: background 0.5s ease, color 0.5s ease;
}
@media (max-width: 767px) {
  .portfolio .portfolio__btn {
    margin: 30px 0 0 0;
    min-width: 100%;
    height: 60px;
  }
}
.portfolio .portfolio__btn:hover {
  background: transparent;
  border: 2px solid #3b9ac6;
  color: #3b9ac6;
}

.competencies .container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
}
.competencies .competencies__title {
  margin: 0 0 48px 0;
  max-width: 1048px;
  min-height: 72px;
  flex: 0 1 100%;
}
@media (max-width: 767px) {
  .competencies .competencies__title {
    padding: 85px 0 0 0;
  }
}
.competencies div:nth-child(2)::before {
  margin: 0 0 16px 0;
  display: block;
  content: "";
  width: 45px;
  height: 44px;
  border-radius: 10px;
  background: url("../../Img/icons/01html.svg") 50% 50%/auto auto no-repeat, #3b9ac6;
}
.competencies div:nth-child(3)::before {
  margin: 0 0 16px 0;
  display: block;
  content: "";
  width: 45px;
  height: 44px;
  border-radius: 10px;
  background: url("../../Img/icons/02js.svg") 50% 50%/auto auto no-repeat, #3b9ac6;
}
.competencies div:nth-child(4)::before {
  margin: 0 0 16px 0;
  display: block;
  content: "";
  width: 45px;
  height: 44px;
  border-radius: 10px;
  background: url("../../Img/icons/03framework.svg") 50% 50%/auto auto no-repeat, #3b9ac6;
}
.competencies div:nth-child(5) {
  margin: 0 0 150px 0;
}
@media (max-width: 767px) {
  .competencies div:nth-child(5) {
    margin: 0 0 60px 0;
  }
}
.competencies div:nth-child(5)::before {
  margin: 0 0 16px 0;
  display: block;
  content: "";
  width: 45px;
  height: 44px;
  border-radius: 10px;
  background: url("../../Img/icons/04mobile.svg") 50% 50%/auto auto no-repeat, #3b9ac6;
}
.competencies .competencies__box {
  margin: 0 0 60px 0;
  flex: 0 1 calc(50% - 10px);
}
.competencies .competencies__box .box__subtitle {
  margin: 0 0 15px 0;
  max-width: 1048px;
  color: #3b9ac6;
}
@media (max-width: 767px) {
  .competencies .competencies__box .box__subtitle {
    margin: 0 0 15px 2vw;
    max-width: 74vw;
  }
}
.competencies .competencies__box .box__description {
  max-width: 778px;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: -0.03em;
}
@media (max-width: 767px) {
  .competencies .competencies__box {
    margin: 0 0 20px 0;
    display: flex;
    flex: 0 1 100%;
    flex-wrap: wrap;
    align-items: center;
  }
}

.services {
  margin: 0 auto 150px auto;
}
@media (max-width: 767px) {
  .services {
    padding: 60px 0 0 0;
  }
}
.services div:last-child {
  margin: 0 auto;
}
.services .services__title {
  margin: 0 0 74px 0;
}
@media (max-width: 767px) {
  .services .services__title {
    margin: 0 0 48px 0;
  }
}
.services .services__box {
  margin: 0 0 74px 0;
}
@media (max-width: 767px) {
  .services .services__box {
    margin: 0 0 10px 0;
  }
}
.services .services__box .box__image {
  max-width: 1150px;
}
.services .services__box .box__image img {
  width: 100%;
}
.services .services__box .box__body {
  padding: 40px;
  max-width: 1150px;
  min-height: 283px;
  background: #191C19;
  border-radius: 30px;
}
@media (max-width: 767px) {
  .services .services__box .box__body {
    padding: 20px;
    min-height: auto;
  }
}
.services .services__box .box__title {
  margin: 0 0 15px 0;
  max-width: 1048px;
  color: #3b9ac6;
}
.services .services__box .box__description {
  max-width: 749px;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: -0.03em;
}

.contacts {
  margin: 0 0 150px 0;
  padding: 320px 0 0 0;
  max-width: 100%;
  min-height: 717px;
  background: url("../../Img/background/contacts.svg") center right/auto auto no-repeat, #191C19;
  border-radius: 30px;
}
.contacts .contacts__info .info__text {
  max-width: 201px;
  font-size: 35px;
  line-height: 60px;
  letter-spacing: -0.03em;
}
.contacts .contacts__info .info__socials {
  margin: 0 0 20px 0;
  display: flex;
  flex-direction: column;
  max-width: 310px;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  transition: 0.5s;
}
.contacts .contacts__info .info__socials:hover {
  color: #3b9ac6;
}
.contacts .contacts__info a:nth-child(3) {
  max-width: 276px;
}
.contacts .contacts__info a:nth-child(4) {
  max-width: 139px;
}
.contacts .contacts__info a:last-child {
  margin: 0;
}

.copy {
  padding: 76px 0 0 0;
  min-height: 230px;
  font-family: "Manrope";
  background: #FFFFFF;
  border-radius: 30px 30px 0 0;
}
.copy .copy__text {
  margin: 0 0 66px 0;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: #000000;
}
.copy .copy__copyrights {
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.03em;
  color: #000000;
  opacity: 0.5;
}/*# sourceMappingURL=index.css.map */